.text {
  text-decoration: none;
  color: azure;
  margin-top: 8px;
  margin-left: 10px;
}
.textDrop {
                    text-decoration: none;
                    color: azure;
                   
                  }

.text2 {
  text-decoration: none;
  color: black;
}
